# Desafio - Módulo 3

## Atividades (Enunciado)

Os alunos deverão desempenhar as seguintes atividades:

### 1. Baixar o arquivo com os dados no link https://www.openml.org/d/1480. O formato do arquivo deve ser CSV.

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving ilpd.csv to ilpd.csv

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
ilpd_df = pd.read_csv('ilpd.csv')

ilpd_df.head()

   V1      V2    V3   V4   V5  V6   V7   V8   V9   V10  Class
0  65  Female   0.7  0.1  187  16   18  6.8  3.3  0.90      1
1  62    Male  10.9  5.5  699  64  100  7.5  3.2  0.74      1
2  62    Male   7.3  4.1  490  60   68  7.0  3.3  0.89      1
3  58    Male   1.0  0.4  182  14   20  6.8  3.4  1.00      1
4  72    Male   3.9  2.0  195  27   59  7.3  2.4  0.40      1

### Informações dos Atributos:

- V1: Idade do paciente. Qualquer paciente cuja idade exceda 89 anos é listado com idade "90".

- V2: Gênero do paciente.

- V3: Teor total de bilirrubina.

- V4: Teor de bilirrubina direta.

- V5: Teor de fosfatase alcalina (ALP).

- V6: Teor de alanina aminotransferase (SGPT).

- V7: Teor de aspartato aminotransferase (SGOT).

- V8: Total de proteinas.

- V9: Teor de albumina.

- V10: Razão A/G (Albumina / Globulina).

- Class: Indica se o paciente é hepático (1) ou não (2).

### 2. Obter informações relativas a número de features e amostras.

In [ ]:
ilpd_df.shape

(583, 11)

### 3. Verificar a necessidade de tratamento de dados categóricos e valores faltantes.

In [ ]:
ilpd_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   V1      583 non-null    int64
 1   V2      583 non-null    object
 2   V3      583 non-null    float64
 3   V4      583 non-null    float64
 4   V5      583 non-null    int64
 5   V6      583 non-null    int64
 6   V7      583 non-null    int64
 7   V8      583 non-null    float64
 8   V9      583 non-null    float64
 9   V10     583 non-null    float64
 10  Class   583 non-null    int64
dtypes: float64(5), int64(5), object(1)
memory usage: 50.2+ KB

In [ ]:
ilpd_df.describe()

               V1          V3          V4  ...          V9         V10       Class
count  583.000000  583.000000  583.000000  ...  583.000000  583.000000  583.000000
mean    44.746141    3.298799    1.486106  ...    3.141852    0.947064    1.286449
std     16.189833    6.209522    2.808498  ...    0.795519    0.318492    0.452490
min      4.000000    0.400000    0.100000  ...    0.900000    0.300000    1.000000
25%     33.000000    0.800000    0.200000  ...    2.600000    0.700000    1.000000
50%     45.000000    1.000000    0.300000  ...    3.100000    0.947064    1.000000
75%     58.000000    2.600000    1.300000  ...    3.800000    1.100000    2.000000
max     90.000000   75.000000   19.700000  ...    5.500000    2.800000    2.000000

[8 rows x 10 columns]

In [ ]:
ilpd_df['V2'].unique()

array(['Female', 'Male'], dtype=object)

In [ ]:
pd.get_dummies(ilpd_df['V2'])

     Female  Male
0         1     0
1         0     1
2         0     1
3         0     1
4         0     1
..      ...   ...
578       0     1
579       0     1
580       0     1
581       0     1
582       0     1

[583 rows x 2 columns]

In [ ]:
ilpd_df_transf = ilpd_df.copy()

ilpd_df_transf.head()

   V1      V2    V3   V4   V5  V6   V7   V8   V9   V10  Class
0  65  Female   0.7  0.1  187  16   18  6.8  3.3  0.90      1
1  62    Male  10.9  5.5  699  64  100  7.5  3.2  0.74      1
2  62    Male   7.3  4.1  490  60   68  7.0  3.3  0.89      1
3  58    Male   1.0  0.4  182  14   20  6.8  3.4  1.00      1
4  72    Male   3.9  2.0  195  27   59  7.3  2.4  0.40      1

In [ ]:
name_to_V2 = {
    'Female': 0,
    'Male': 1
}

ilpd_df_transf['V2'] = ilpd_df['V2'].map(name_to_V2)

ilpd_df_transf.head()

   V1  V2    V3   V4   V5  V6   V7   V8   V9   V10  Class
0  65   0   0.7  0.1  187  16   18  6.8  3.3  0.90      1
1  62   1  10.9  5.5  699  64  100  7.5  3.2  0.74      1
2  62   1   7.3  4.1  490  60   68  7.0  3.3  0.89      1
3  58   1   1.0  0.4  182  14   20  6.8  3.4  1.00      1
4  72   1   3.9  2.0  195  27   59  7.3  2.4  0.40      1

In [ ]:
target = np.array(ilpd_df_transf['Class'])

data = np.array(ilpd_df_transf.drop('Class', axis=1))

### 4. Modelar o SVC e o Random Forest Classifier, com Random Search para sintonia de hiperparâmetros e validação cruzada estratificada, usando as parametrizações abaixo.

### 5. Parametrização SVC:

#### a. Bibliotecas para importação:

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

from sklearn.model_selection import StratifiedKFold, RandomizedSearchCV

from scipy.stats import uniform, randint

from sklearn.metrics import f1_score, make_scorer

In [ ]:
#instanciando o classificador SVC
clf_svc = SVC()

#### b. Kfold estratificado com 10 conjuntos.

In [ ]:
#definindo o tipo de validação cruzada e o número de folds
cv_strat_svc = StratifiedKFold(n_splits=10)

#### c. Métrica de avaliação f1:

In [ ]:
#definindo a estratégia de score a partir da métrica f1
f1_svc = make_scorer(f1_score)

f1_svc

make_scorer(f1_score)

#### d. Parâmetro de kernel:

- i. Sigmoidal e RBF.

In [ ]:
kernel_svc = ['sigmoid', 'rbf']

#### e. Parâmetro de regularização C:

- i. Distribuição uniforme variando entre 1 e 10

In [ ]:
C_svc = uniform(loc=0, scale=10)

C_svc.rvs(random_state=42)

3.745401188473625

#### f. Random_state = 42.

In [ ]:
random_state_svc = 42

#### g. Número de iterações = 5.

In [ ]:
num_iteracoes_svc = 5

In [ ]:
#definindo hiperparâmetros
distributions_svc = dict(kernel=kernel_svc, C=C_svc)

distributions_svc

{'C': <scipy.stats._distn_infrastructure.rv_frozen at 0x7fcbd2a71470>,
 'kernel': ['sigmoid', 'rbf']}

In [ ]:
#instanciando e modelando o random search com os hiperparametros e a validação definidas.
random_cv_svc = RandomizedSearchCV(clf_svc, distributions_svc, cv=cv_strat_svc, scoring=f1_svc, random_state=random_state_svc, n_iter=num_iteracoes_svc)
random_cv_svc.fit(data, target)

RandomizedSearchCV(cv=StratifiedKFold(n_splits=10, random_state=None, shuffle=False),
                   error_score=nan,
                   estimator=SVC(C=1.0, break_ties=False, cache_size=200,
                                 class_weight=None, coef0=0.0,
                                 decision_function_shape='ovr', degree=3,
                                 gamma='scale', kernel='rbf', max_iter=-1,
                                 probability=False, random_state=None,
                                 shrinking=True, tol=0.001, verbose=False),
                   iid='deprecated', n_iter=5, n_jobs=None,
                   param_distributions={'C': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7fcbd2a71470>,
                                        'kernel': ['sigmoid', 'rbf']},
                   pre_dispatch='2*n_jobs', random_state=42, refit=True,
                   return_train_score=False, scoring=make_scorer(f1_score),
                   verbose=0)

### 6. Avaliar o resultado da modelagem usando as métricas:

- a. best_score_

- b. best_params_

- c. best_estimator_

In [ ]:
#apresentando os melhores resultados encontrados pelo Random Search com o SVC
print('Melhor resultado f1:', random_cv_svc.best_score_)
print('\n\nMelhor configuração de hiperparâmetros:', random_cv_svc.best_params_)
print( '\n\nConfigurações de todos os hiperparâmetros do melhor estimado encontrado pelo GridSearch: \n', random_cv_svc.best_estimator_)

Melhor resultado f1: 0.832818081808181


Melhor configuração de hiperparâmetros: {'C': 1.834347898661638, 'kernel': 'rbf'}


Configurações de todos os hiperparâmetros do melhor estimado encontrado pelo GridSearch:
 SVC(C=1.834347898661638, break_ties=False, cache_size=200, class_weight=None,
    coef0=0.0, decision_function_shape='ovr', degree=3, gamma='scale',
    kernel='rbf', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

### 7. Repetir o processo usando o Random Forest:

#### a. Faça a instanciação do Random Forest fixando o random_state = 42:

In [ ]:
#instanciando o classificador Random Forest
clf_rf = RandomForestClassifier(random_state=42)

#### b. Kfold estratificado com 10 conjuntos.

In [ ]:
#definindo o tipo de validação cruzada e o número de folds
cv_strat_rf = StratifiedKFold(n_splits=10)

#### c. Métrica de avaliação f1:

In [ ]:
#definindo a estratégia de score a partir da métrica f1
f1_rf = make_scorer(f1_score)

#### d. Parâmetro do número de árvores:

- i. Distribuição aleatória inteira de valores entre 100 e 200.

In [ ]:
num_arvores_rf = randint(100, 200)

#### e. Parâmetro Bootstrap:

- i. Verdadeiro e Falso.

In [ ]:
bootstrap_rf = [True, False]

#### f. Parâmetro Criterion:

- i. Gini e Entropy.

In [ ]:
criterion_rf = ['gini', 'entropy']

#### g. Random_state = 42.

In [ ]:
random_state_rf = 42

#### h. Número de iterações = 5.

In [ ]:
num_iteracoes_rf = 5

In [ ]:
distributions_rf = dict(n_estimators=num_arvores_rf, bootstrap=bootstrap_rf, criterion=criterion_rf)

In [ ]:
#instanciando e modelando o random search com os hiperparametros e a validação definidas.
random_cv_rf = RandomizedSearchCV(clf_rf, distributions_rf, cv=cv_strat_rf, scoring=f1_rf, random_state=random_state_rf, n_iter=num_iteracoes_rf)
random_cv_rf.fit(data, target)

RandomizedSearchCV(cv=StratifiedKFold(n_splits=10, random_state=None, shuffle=False),
                   error_score=nan,
                   estimator=RandomForestClassifier(bootstrap=True,
                                                    ccp_alpha=0.0,
                                                    class_weight=None,
                                                    criterion='gini',
                                                    max_depth=None,
                                                    max_features='auto',
                                                    max_leaf_nodes=None,
                                                    max_samples=None,
                                                    min_impurity_decrease=0.0,
                                                    min_impurity_split=None,
                                                    min_samples_leaf=1,
                                                    min_samples_s...
                                                    random_state=42, verbose=0,
                                                    warm_start=False),
                   iid='deprecated', n_iter=5, n_jobs=None,
                   param_distributions={'bootstrap': [True, False],
                                        'criterion': ['gini', 'entropy'],
                                        'n_estimators': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7fcbd2a71eb8>},
                   pre_dispatch='2*n_jobs', random_state=42, refit=True,
                   return_train_score=False, scoring=make_scorer(f1_score),
                   verbose=0)

### 8. Avaliar o resultado da modelagem usando as métricas:

- a. best_score_

- b. best_params_

- c. best_estimator_

In [ ]:
#apresentando os melhores resultados encontrados pelo Random Search com o Random Forest
print('Melhor resultado f1:', random_cv_rf.best_score_)
print('\n\nMelhor configuração de hiperparâmetros:', random_cv_rf.best_params_)
print( '\n\nConfigurações de todos os hiperparâmetros do melhor estimado encontrado pelo GridSearch: \n', random_cv_rf.best_estimator_)

Melhor resultado f1: 0.8019647527623143


Melhor configuração de hiperparâmetros: {'bootstrap': True, 'criterion': 'gini', 'n_estimators': 171}


Configurações de todos os hiperparâmetros do melhor estimado encontrado pelo GridSearch:
 RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=171,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

## Pergunta 1

O objetivo dessa base é avaliar se uma pessoa vai ser um paciente hepático ou não. A feature que determina a classe nessa base é a “V7”. (falso)

In [ ]:
ilpd_df[['V7', 'Class']].head()

    V7  Class
0   18      1
1  100      1
2   68      1
3   20      1
4   59      1

## Pergunta 2

Sobre as informações de número de features e amostras, marque a alternativa CORRETA.

In [ ]:
print('Amostras e Features:', ilpd_df.shape)

Amostras e Features: (583, 11)

In [ ]:
print(len(ilpd_df.columns), 'colunas:', ilpd_df.columns)

11 colunas: Index(['V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'Class'], dtype='object')

In [ ]:
'Class' in ilpd_df.columns

True

## Pergunta 3

Essa base conta com 3 atributos categóricos. Precisamos fazer o pré processamento desses atributos para que todos sejam numéricos. (falso)

In [ ]:
len(ilpd_df.dtypes[ilpd_df.dtypes == 'object'])

1

## Pergunta 4

A base não tem dados faltantes. (verdadeiro)

In [ ]:
ilpd_df.isna().sum().sum()

0

## Pergunta 5

Sobre o best_score_ encontrado durante a otimização do SVC, marque a alternativa CORRETA.

In [ ]:
random_cv_svc.best_score_

0.832818081808181

## Pergunta 6

O best_params_ encontrado durante a otimização do SVC indica que a melhor combinação de parâmetros usa um kernel RBF. (verdadeiro)

In [ ]:
random_cv_svc.best_params_['kernel']

'rbf'

## Pergunta 7

O best_params_ encontrado durante a otimização do SVC indica que C encontrado é aproximadamente 5. (falso)

In [ ]:
random_cv_svc.best_params_['C']

1.834347898661638

## Pergunta 8

A melhor combinação de best_params_ encontrado durante a otimização do SVC é:

In [ ]:
random_cv_svc.best_params_

{'C': 1.834347898661638, 'kernel': 'rbf'}

## Pergunta 9

Sobre o best_score_ encontrado durante a otimização do Random Forest, marque a alternativa CORRETA.

In [ ]:
random_cv_rf.best_score_

0.8019647527623143

## Pergunta 10

O best_params_ encontrado durante a otimização do Random Forest indica que a melhor combinação de parâmetros usa Boostrap True. (verdadeiro)

In [ ]:
random_cv_rf.best_params_['bootstrap']

True

## Pergunta 11

O best_params_ encontrado durante a otimização do Random Forest indica que a melhor combinação de parâmetros usa Criterion Entropy. (falso)

In [ ]:
random_cv_rf.best_params_['criterion']

'gini'

## Pergunta 12

O best_params_ encontrado durante a otimização do Random Forest indica que a melhor combinação de parâmetros conta com quantos estimadores?

In [ ]:
random_cv_rf.best_params_['n_estimators']

171

## Pergunta 13

Suponha que nossas duas opções para solução do problema sejam o SVC e o Random Forest que foram modelados anteriormente. Além disso, não é possível rodar o experimento novamente com outros parâmetros. Marque a alternativa que justifica de forma CORRETA a escolha do modelo mais adequado.

In [ ]:
if random_cv_svc.best_score_ > random_cv_rf.best_score_:
    print('SVC')
else:
    print('Random Forest')

SVC

## Pergunta 14

Como os dois modelos apresentaram resultados semelhantes de f1, e considerando apenas essa métrica, podemos entender que a capacidade de generalização dos modelos deve ser semelhante na prática. (verdadeiro)

In [ ]:
abs(random_cv_svc.best_score_ - random_cv_rf.best_score_)

0.030853329045866684

## Pergunta 15

Os resultados encontrados do random search para o SVC e o Random Forest representam a melhor configuração possível desses modelos para solução do problema proposto. (falso)